
header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  width: 100%;
  height: 750px;
  flex-direction: column;
  background:url(/assets/Background_Intro.png) no-repeat center/cover;
  
  img{
    width: fit-content;
    height: fit-content;
  }

  span{
    color: var(--gray-500);
    font: var(--subtitle);
  }
  strong{
    color: var(--principal-red);
  }
  h1{
    color: var(--gray-600);
    font: var(--title-lg);
  }
  p{
    width: 680px;
    height: 60px;
    text-align: center;
    color: var(--gray-400);
    font: var(--text-sm);
  
  }
  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 754px;
    height: 40px;
    
  
    section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 8px;
    padding: 8px 16px;
    background-color: var(--gray-300);
    border-radius: 999px;
    color: var(--gray-500);
    font: var(--text-md);
  }
  
  }
}